/*place global styles here */
html,
body {
	@apply !h-[600px] !w-[800px];
}

.ais-Hits-list {
	@apply flex flex-col gap-1;
}

.sl-results-list {
	@apply flex flex-col gap-1;
}

.jse-main,
.jse-theme-dark {
	@apply h-[335px];
}
